* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: black;
}

/*HEADER*/
header {
  height: 100px;
  background-color: #ff5315;
  padding: 0 50px;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* RESPONSIVE */
}

header .logo {
  width: 300px;
}

header .menu a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 15px;
}

header .mostrar-menu,
header .esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .mostrar-menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header .menu a:hover,
header .mostrar-menu:hover,
header .esconder-menu:hover {
  color: black;
}

header #check {
  display: none;
}

@media (max-width: 700px) {
  header .logo {
    width: 250px;
  }
  header #banner {
    height: 10vh;
  }
  header .mostrar-menu,
  header .esconder-menu {
    display: block;
  }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  header .menu a {
    display: block;
    padding: 20px;
  }
  header .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  header #check:checked ~ .menu {
    right: 0;
  }
}

/* BANNER */
#banner {
  padding: 0 50px;
  height: 30vh;
  bottom: 30vh;
  background-size: cover;
  background-position: center;
}

.contenido-banner {
  position: relative;
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenido-banner h3 {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
  font-weight: 600;
}

.boton-empezar {
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid #ff5315;
  padding: 8px 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.boton-empezar:hover {
  background: rgba(255, 91, 32, 0.795);
}

/*IMAGENES*/
.container {
  padding: 0 10px;
  margin-top: 3em;
  margin-bottom: 3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
}

.container .item-img {
  max-width: 100%;
  display: block;
}

.container .item {
  cursor: pointer;
}

.container .item-text {
  padding: 1em;
  color: whitesmoke;
  text-align: center;
}

@media screen and (min-width: 414px) {
  .banner {
    margin-top: 10px;
    margin-left: 10px;
  }
  .logo {
    width: 300px;
  }
}

@media screen and (min-width: 590px) {
  .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .logo {
    width: 300px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .contenido-banner h3 {
    font-size: 30px;
  }
  .boton-empezar {
    padding: 10px 30px;
  }
  .logo {
    width: 200px;
  }
  .logo {
    width: 300px;
  }
}

/*FOOTER*/
footer {
  width: 100%;
  background-image: url(img/background-footer.svg);
  background-size: cover;
  margin-bottom: 20px;
}

footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-pack: justify;
  -ms-flex-wrap: justify;
      flex-wrap: justify;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin: auto;
  margin-top: 40px;
}

footer .box__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

footer .box__footer h6 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
  font-size: 15px;
}

footer .box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 300;
  text-decoration: none;
}

footer .box__footer p {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 300;
}

footer .box__footer a:hover {
  opacity: 0.8;
}

footer .box__footer a .fab {
  font-size: 20px;
}

footer .box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

footer .box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

footer .box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
/*# sourceMappingURL=style.css.map */